body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.left-panel, .right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-panel {
    background-color: #e0e0ff;
    
}

.right-panel {
    background-color: #afb2ff;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%); /* Forma recortada del panel izquierdo */
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {/* Iniciar sesion*/
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    color: blue;
}

.welcome img {/* Div Escom infe */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


img.avatar {
    width: 300px;  /* Ancho de la imagen */
    height: 300px; /* Alto de la imagen */
}
img.IPN {
    width: 600px;  /* Ancho de la imagen */
    height: 450px; /* Alto de la imagen */
}
.curved-shape {
    width: 200px;
    height: 200px;
    background-color: #afb2ff; 
    border-radius: 50% 50% 0 0;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; /* Opcional, dependiendo de tu layout */
}

.curved-shape img {
    width: 150px; 
    transform: rotate(-45deg); /* Contrarresta la rotación del div */
}
img.PieDeFoto{
    width: 100px;  /* Ancho de la imagen */
    height: 100px; /* Alto de la imagen */
}
/* ------------------------------------------------------ SECCION DE REGISTRO ------------------------------------------------------ */
.left-panelReg, .right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-panelReg {
    background-color: #dcdcff; /* Color de fondo del panel izquierdo */
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%); /* Forma recortada del panel izquierdo */
}

